.newTask {
  display: Flex;
  padding-top: 200px;
}
.input,
.add {
  background-color: white;
  border: none;
  padding: 20px;
}
.input {
  flex-grow: 1;

  font-size: 1.3rem;
}
.add {
  font-size: 2rem;

  cursor: pointer;
}
